.attributes-axis {
  list-style: none;
  padding-left: 10px;
  max-height: 120px;
  overflow: scroll;
}

.attributes-radio-label {
  padding-top: 0.5rem;
}

.attributes-radio-label font {
  vertical-align: inherit;
  padding-left: 1rem;
}

.full-width {
  width: 100%;
}

.dropdown {
  width: 100%;
}

.dropdown > #add-attribute {
  width: 50%;
}

.left-top-panel .panel-body {
  padding-bottom: 5px;
}
